.bundle
db/*.sqlite3
/log/*
/tmp/*
.project
*.rbc
*.sassc
.sass-cache
/coverage.data
/coverage/
/doc/*
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
.idea/
